 .icono{
     color: rgb(226, 43, 43);
 }
 body{
     margin: 0px;
     padding: 0px;
 }
 .main-menu{
    background-color: black;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 5rem;
    margin-left: 15px;
    margin: 10px;
}
.menu-btn{
    width: 3rem;
    height: 3rem;
    margin-right: 9px;
}
.icono{
    font-size: 2rem;
}
.menu-items{
    position: fixed;
    width: 30%;
    background-color: firebrick;
    height: 100vh;
    top: 13.8%;
    right: 0px;
    transform: translateX(100%);
    transition: all 5s;
    display: flex;
    flex-direction: column;
    padding-top: 2em;
}
.menu-items li {
    list-style: square;
}
.menu-items li a{
    text-decoration: none;
    color: white;
    font-family:"Segoe UI";
    font-size: 22px;
    font-style: initial;
    font-weight: bolder;


}
.active{
    transform: translateX(0%);

}
.main-content img{
    width: 25%;
    animation: moveRight 5s linear 0s,   
    lookUp 2.5s linear 5s,    
    moveLeft 5s linear 7.5s,  
    dissapear 2s linear 9.5s;
    fill-opacity: inherit;
}
.main-content a{
    text-decoration: white;
    font-weight: 800;
    position: fixed;
    height: 0px;
    margin: 100px;
    margin-left: 90px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    justify-content: space-between;
}
@media screen and (min-width:300px) {
    .menu-items{
        position: static;
        width: auto;
        height: auto;
        background-color: black;
        display: flex;
        flex-direction: row;
        width: 30%;
        justify-content: space-around;
    }

    .menu-btn{
        display: none;
    }
}
